.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

th {
	width:200px;
	border-bottom-style: solid;
	border-bottom-color: back;
}

.Introduction {
  margin-bottom:10em;
}

.submiting {
  margin-bottom:10em;
  padding-left: 5em;
  padding-top: 2em;
}

.exampletable{
  margin-top: 4em;

}